<p class="text-center text-muted" *ngIf="!photos.length">
  Sorry, no photo found
</p>

<ol class="list-unstyled">
  <li class="row no-gutters" *ngFor="let cols of rows">

    <div class="col-4" *ngFor="let photo of cols" apDarkHover>

      <ap-card [title]="photo.description">
        <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>

        <div class="text-center p-1">
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ photo.comments }}
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{ photo.likes }}
        </div>
      </ap-card>

    </div>
  </li>
</ol>